<div class="d-flex justify-content-center mt-5">
    <div class="col-6">
      <form [formGroup]="productForm" (ngSubmit)="saveProduct()">
        <div class="text-center mb-4">
          <h2 class="mb-3">{{ isEdit ? 'Edit Product' : 'Add Product' }}</h2>
        </div>
  
        <app-text-input formControlName="name" label="Product Name"></app-text-input>
        <app-text-input formControlName="description" label="Description"></app-text-input>
        <app-text-input formControlName="prix" label="Price" type="number"></app-text-input>
     
       <select >
        <div formControlName="famille" label="Category" *ngFor="let item of brands"  >    
                    <option value={{item}}>{{item.name}}</option>
        </div>
               

          </select>
        <app-text-input formControlName="typeId" label="Type"></app-text-input>
  
       <div class="mb-3">
          <label for="productImage" class="form-label">Product Image</label>
          <input type="file" id="productImage" (change)="onFileChange($event)" class="form-control">
        </div>
  
        <div class="d-grid">
          <button [disabled]="productForm.invalid" class="btn btn-lg btn-primary mt-3" type="submit">{{ isEdit ? 'Update' : 'Add' }}</button>
        </div>
      </form>
    </div>
  </div>
  